// ************
// Amount cart
// ************
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

.amount-box {
	input[type=number],
	[data-amount]{
		display: inline-block;
		vertical-align: top;
	}

	input[type=number]{
		width: 50px;
	    margin-right: -2px;
	    padding: 2px 0;
		font-size: 1.8em;
		border:0;
		text-align: center;
		overflow: hidden;
		background-color: transparent;
	}


	[data-amount]{
		&:before{	
			height: 25px;
			width: 25px;
			padding-top: 2px;
			cursor: pointer;
			display: block;

			background-color: $red;
			color: #fff;
			font-weight: $bold;
			font-size: 2em;
			text-align: center;
			
			// @include border-radius(100%);
			@include transition();

			@media (max-width: 600px){
				padding-top: 0;
				height: 20px;
				width: 20px;
				font-size: 1.8em;
			}
		}

		&:hover{
			&:before{
				background-color: $lred;
			}
		}
	}

	[data-amount="inc"]{
		&:before{
			content:"+";
		}
	}

	[data-amount="dec"]{
		&:before{
			content:"-";
		}
	}


}