.modal-payment-form,
.modal-calculate-freight{
	position: absolute;
	width: 290px;
	top: 22px;
	padding: 10px;
	text-align: left;
	background-color: #fff;
	color: #000;
	z-index: 99991;

	@include box-shadow(0, 2px, 5px, rgba(0,0,0,.8), "");

	.modal-header{
		background-color: #eee;
		margin-top: -10px;
		margin-left: -10px;
		margin-right: -10px;
		padding: 10px;
		margin-bottom: 10px;
	
		.btn-close{
			position: absolute;
			right: 10px;
			top: 10px;
		}

		> .ttl{
			color: #333;
			font-size: 1.8em;
			font-weight: $semibold;
		}
	}//modal header
}//modal login and shopping cart

.modal-payment-form{
	display: none;

	@media (max-width: 469px){
		right: inherit;
		@include centerer(true, false);
	}

	.itm-payment-form{
		display: table;
		width: 100%;
		margin-bottom: 10px;

		.pic{
			@include span-columns(3);
			border: 1px solid #eee;

		}

		.info{
			@include span-columns(9);

			.ttl,
			.price{
				font-size: 1.4em;
			}//ttl

			.price{
				font-weight: $bold;
				color: $red;
			}
		}//info
	}//itm-payment-form
}//modal login


.modal-calculate-freight{
	display: none;

	@media (max-width: 469px){
		right: inherit;
		@include centerer(true, false);
	}

	.cart-product-freight{
		width: 100%;
	}

	// fieldset
	fieldset{
		position: relative;
		margin: 5px 0;

		&:first-of-type{
			margin-top: 0;
		}

		// Input, Select, Textarea and Button styles
		input,
		select,
		textarea {
			width: 100%;
			border: 1px solid #ddd;
			background-color: #fff;
			font-family: Lato;
			font-size: 1.6em;

		}//input, select and textarea pairing

		input,
		textarea {
			padding: 20px 15px 10px;
		}//input and textarea pairing

		select{
			padding: 15px;
		}

		// Label placeholder
		label:not(.error){
			position: absolute;
			top: 17px;
			left: 15px;
			font-size: 1.6em;
			color: #ddd;
			@include css3-prefix(transform, translateY(0));
			@include transition();
		}// label placeholder

		input,
		textarea{
			// &:valid + label,
			&:focus + label,
			&:focus + label:focus{
				color: #aaa;
				font-size: 1.2em;
				font-weight: $bold;
				@include css3-prefix(transform, translateY(-10px));
			}
		}//input and textarea pairing with hover label placeholder

		// Error (jQuery Validate)
		label.error{
			position: absolute;
			top: -18px;
			background-color: #ffcc00;
			padding: 2px 8px;
			color: #fff;
			font-size: 1.4em;
		}

		input,
		select,
		textarea{
			&.error{
				 border: 1px solid #ffcc00;
			}
		}
	}//fieldset

	.btn-calculate{
		padding: 8px 9px;
		font-size: 16px;
		color: #fff;
		display: table;
		width: 100%;
		background-color: $blue;
		@include border-radius(5px);
		margin-top: 20px;
		margin-bottom: 20px;
		text-decoration: none;
		text-align: center;
		line-height: 25px;
		@include transition;

		&:hover{
			background-color: $lblue;
		}
	}//btn calculate

	.result{
		font-size: 14px;
		line-height: 20px;
		color: $dark;

		.address{
		    padding-bottom: 10px;
		    display: table;
		    width: 100%;

			 &:after{
		    	content: "";
		    	display: inline-block;
		    	height: 1px;
		    	width: 100%;
		    	background-color: #eee;
		    }
		}//address

		.value{
			@include row();

			.itm-value{
				@include span-columns(4);
				@include omega(3n);

				&.shippingTime{
					color: $red;
				}
			}//itm-value

			.note{
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #eee;

				@include span-columns(12);
				@include omega(1n);
			}
		}//value
	}//result
}//modal-calculate-freight

.modal-login-lg,
.modal-doubt,
.modal-indicate,
.modal-attachment{
	position: fixed;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	z-index: 9999;

	// Overlay
	.modal-overlay{
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom: 0;
		background-color: rgba(0,0,0,0.75);
		z-index: 99991;
	}//overlay

	.modal-inner{
		background-color: #fff;
		position: absolute;
		width: calc(600px - 20px);
		@include centerer();
		z-index: 99992;
		padding: 30px;

		@media (max-width: 630px){
			width: calc(100% - 50px);
		}

		.btn-close{
			position: absolute;
			right: 10px;
			top: 10px;
		}

		.btn-login{
			@include span-columns(5);

			@media (max-width: 991px){
				@include span-columns(12);
			}

			text-align: center;
			text-decoration: none;
		}

		.support{
			@include span-columns(7);
			@media (max-width: 991px){
				@include span-columns(12);
			}
			text-align: right;

			li{
				a{
					color: $blue;
					font-size: 1.4em;
					display: block;
					margin-bottom: 8px;

					@include transition();

					&:hover{
						color: $lblue;
					}
				}//a
			}//li
		}
	}//modal-inner
}//modal-login-lg, modal-doubt and modal-indicate pairing

// Modal indicate
.modal-indicate{
	display: none;
}//modal-indicate

// Modal Doubt
.modal-doubt{
	display: none;
}//modal-doubt

// Modal Login LG
.modal-login-lg{
	// display:none;
	.ttl{
		padding-top: 0;
		padding-bottom: 10px;
	}
	.description{
		color: $red;
		font-size: 1.6em;
		margin-bottom: 20px;
	}
}//modal login lg


.modal-attachment{
	display: none;
	
	.attachment-lst{
		margin-top: 20px;
		margin-bottom: 20px;
		height: 300px;
	}

	.btn-concluido{
		clear: both;
		float: right;
	}

	.anexar{
		margin: 20px 0 0;
		display: table;

		@media (max-width: $bp-sm){

    		width: 100%;

    	}

		.title-anexar {
			font-size: 1.5em;
			font-weight: $bold;
			color: #444;
			margin-bottom: 10px;

			&:before{
				content: "\f0c6";
				font-family: FontAwesome;
				font-weight: normal;
				color: $red;
				font-size: 2em;
				margin-right: 5px;
			}
		}//title-anexar

		.anexo{
			display: table;
			width: 100%;
			margin-bottom: 10px;
			position: relative;

			.label-upload{
		    	display: table;
		    	background: #ddd;
		    	font-size: 1.6em;
		    	color: #444;
		    	font-weight: $medium;
		    	cursor: pointer;
		    	padding: 0 10px;

		    	@media (max-width: $bp-sm){
		    		width: 85%;
		    		clear: both;
		    		text-align: center;
		    	}
		    }

			.input-upload {
			    display: none;
			}

			.status-upload{
				font-size: 1.4em;
				color: #444;
				border: #E1E1E1 1px solid;
				padding: 0 10px;
				display: inline-block;
				max-width: 630px;
				word-break: break-word;

				@media (max-width: $bp-sm){
		    		min-width: 85%;
		    		clear: both;
		    		text-align: center;
		    		margin-bottom: 10px;
		    	}
			}

			.label-upload,
			.status-upload{
				float: left;
				height: 39px;
				padding-top: 10px;
			}

			.remover{
				background: $red;
				color: #fff;
				font-size: 2.2em;
				font-weight: $bold;
				display: table;
				padding: 8px 0 0;
			    text-align: center;
			    width: 40px;
				height: 39px;
				margin: 0 5px;
				float: left;
				cursor: pointer;

				&:before{
					content:"\f00d";
					font-family: FontAwesome;
				}


				@media (max-width: $bp-sm){
					position: absolute;
					top: 0;
					right: 0;
				}
			}//remover
		}//anexo
	}//anexar
	
	.anexar-mais-arquivos{
		&:before{
			content:"+ Anexar mais arquivos";
			padding: 10px;
			background: $blue;
			color: #fff;
			font-size: 1.8em;
			margin-bottom: 30px;
			display: table;
			cursor: pointer;
		}	
	}//anexar mais arquivos
}//modal-attachment