//TTLs LG
.ttl-lg-red-2{
	font-weight: $semibold;
	font-size: 3.6em;
	color: $red;
	padding: 20px 0;
	display: table;
}//ttl lg black-2

.ttl-lg-black-2{
	font-weight: $semibold;
	font-size: 3.6em;
	color: #241F20;
	padding: 20px 0;
	display: table;
}//ttl lg black-2

.ttl-md-black{
	font-weight: $semibold;
	font-size: 2.4em;
	color: #241F20;
	padding: 20px 0;
	display: table;

	&:after{
		content: "";
		height: 3px;
		display: block;
		background-color: $red;
		margin-top: 10px;
	}
}//ttl md black

.ttl-md-black-2{
	font-weight: $semibold;
	font-size: 2.4em;
	color: #241F20;
	padding: 20px 0;
	display: table;
}//ttl md black

.ttl-sm-black-2{
	font-weight: $semibold;
	font-size: 2em;
	color: #241F20;
	padding: 20px 0;
	display: table;
}//ttl sm black-2

.ttl-md-white{
	font-weight: $semibold;
	font-size: 2.4em;
	color: #fff;
	padding: 20px 0;
	display: table;

	//ttl md-white mobile
	@media (max-width: 991px){
		font-size: 2em;
	}

	&:after{
		content: "";
		height: 3px;
		display: block;
		background-color: $red;
		margin-top: 10px;
	}
}//ttl md white

.ttl-sm-red{
	font-weight: $semibold;
	font-size: 2em;
	color: $red;
	padding: 20px 0;
	display: table;
}