.checkout-concluido{
	//Titles das tables
	.ttl{
		margin: 0;
		padding: 0;
	}

	.completed-total{
		font-size: 2.4em;
		color: $red;
		text-align: right;
		margin-bottom: 40px;
		display: block;
	}

	.table-product{
		width: 100%;

		.ttl{
			margin: 0;
			padding: 0;

			@media (max-width: 991px){
				font-size: 1.2em;
				font-weight: $bold;
			}
		}//ttl

		.header{
			display: block;

			@media (max-width: 991px){
				display: none;
			}
		}//header

		// Ttls responsivos quando dois itms dentro da mesma table


		.content{
			display: block;
		}

		.lst-table-product{
			@include row();

			// .itm-product{
			// 	@include span-columns(6);
			// }

			.itm-amount,
			.itm-value,
			.itm-provider,
			.itm-product{
				@include span-columns(3);
			}

			.itm-amount,
			.itm-value,
			.itm-provider,
			.itm-product{
				@media (max-width: 991px){
					// text-align: center;
					@include span-columns(12);
				}
			}//itm-amount,itm-value,itm-provider,itm-product
			
			// Ttls responsivos quando dois itms dentro da mesma table
			// .itm-product{
			// 	&:before{
			// 		&:first-of-type{
			// 			&:before{
			// 				margin-top: 0;
			// 			}
			// 		}
			// 	}
			// }
		}
	}//table-product

	.success{
		.order-number{
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;
			margin-bottom: 10px;

			b{
				color: $red;
			}
		}//order-number
	}//success

	.purchase-value{
		text-align: right;
		@media (max-width: 991px){
			text-align: center;
		}

		.value-subtotal,
		.value-freight,
		.value-total,
		.action{
			display: table;
			float: right;
			clear: both;

			&:before,
			&:after{
				display: block;
				content: "";
				clear: both;
			}

			@media (max-width: 991px){
				display: block;
				float: none;
				clear: none;
			}
		}//value-subtotal, value-freight, value-total, action

		.value-subtotal,
		.value-freight{
			font-size: 1.6em;
			font-weight: $semibold;
			margin-bottom: 10px;
		}//value-subtotal,value-freight

		.value-subtotal{
			color: $red;
		}//value-subtotal

		.value-freight{
			color: #aaa;
			font-weight: $regular;
		}//value-freight

		.value-total{
			padding-top: 10px;
			border-top: 1px solid #eee;
			margin-bottom: 30px;
			font-size: 2.4em;
			font-weight: $bold;
			color: $red;
		}//value-total
	}//purchase-value

	.payment,
	.informations{
		span{
			color: #969696;
		}
	}//payment,informations

	.payment{
		clear:both;

		.payment-content{
			.btn-print{
				display: inline-block;
				color: #fff;
			    padding: 8px 12px;
			    font-size: 1.4em;

				&:hover{
					color:#fff;
				}

				&:before{
					content: "\f02f";
					font-family: FontAwesome;
					margin-right: 5px;
				}
			}//btn-print
		}//payment-content
	}//payment

	.informations{
		.waiting{
			color: $red;
			padding-bottom: 10px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;

			&:before{
				margin-right: 5px;
				content: "\f017";
				font-family: FontAwesome;
			}
		}//waiting
	}//informations

	.btn-store-return{
		margin-top:40px;
	}//btn-store-return
}