// Form 1
.form-1{
	// Input, Select, Textarea and Button styles
	input,
	select,
	textarea {
		width: 100%;
		border: 1px solid #ddd;
		background-color: #fff;
		font-family: Lato;
		font-size: 1.6em;

	}//input, select and textarea pairing

	input,
	textarea {
		padding: 25px 15px 10px;
	}//input and textarea pairing

	select{
		padding: 20px 15px 10px;
	}

	.select-arrow{
		position: absolute;
		right: 10px;
		@include centerer(false, true);

		&:before{
			content: "\f107";
			font-family: FontAwesome;
			font-size: 1.4em;
		}
	}

	//Checkbox
	input[type="checkbox"]{
		display: none;
	}

	label.checkbox{
		font-size: 1.6em;
		cursor: pointer;
		@include span-columns(3);
		@include omega(4n);
		margin-bottom: 15px;

		@media (max-width: 670px){
			@include span-columns(6);
			@include omega(2n);
			margin-bottom: 20px;
		}

		@media (max-width: 440px){
			@include span-columns(12);
			@include omega(1n);
		}

		&:before{
			@include transition();
			color: #aaa;;
			font-family: FontAwesome;
			content: "\f0c8";
			margin-right: 5px;
		}
	}

	input[type="checkbox"]:checked + label.checkbox {
	  &:before{
			content: "\f14a";
			color: $red;
		}
	}

	//Input radio - colocar em form-1
	input[type="radio"]{
		display: none;
	}

	label.radio{
		cursor: pointer;
		&:before{
			font-family: FontAwesome;
			content:"\f111";
			color: #aaa;
			margin-right: 5px;
			@include transition();

		}
	}

	input[type="radio"]:checked + label.radio {
		&:before{
			content:"\f058";
			color: $red;
		}
	}
	
	//Addon
	label.form-1-addon{
		font-size: 1.6em;
		cursor: pointer;
		position: absolute;
		right:10px;
		@include centerer(false, true);
		border-left: 1px solid #ddd;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;

		&:before{
			@include transition();
			color: #aaa;;
			font-family: FontAwesome;
			content: "\f0c8";
			margin-right: 5px;
		}
	}

	input[type=checkbox]:checked + label.form-1-addon {
	  &:before{
			content: "\f14a";
			color: $red;
		}
	} 

	// fieldset
	fieldset{
		margin-top: 20px;
		margin-bottom: 20px;

		// Label placeholder
		label.form-1-placeholder{
			position: absolute;
			top: 17px;
			left: 15px;
			font-size: 1.6em;
			color: #b5b4b4;
			@include css3-prefix(transform, translateY(0));
			@include transition();

			
		}// label placeholder

		input,
		textarea,
		select{
			&:focus + label.form-1-placeholder,
			&.isActive + label.form-1-placeholder,
			&.isActive + .error + label.form-1-placeholder,
			&:focus + .error + label.form-1-placeholder{
				color: #aaa;
				font-size: 1.2em;
				font-weight: $bold;
				@include css3-prefix(transform, translateY(-10px));
			}

			&.error{
				&:focus + .error + label.form-1-placeholder{
					color: #aaa;
					font-size: 1.2em;
					font-weight: $bold;
					@include css3-prefix(transform, translateY(-10px));
				}
			}
		}//input and textarea pairing with hover label placeholder

		input,
		select,
		textarea{
			&.error{
				 border: 1px solid #ffcc00;
			}
		}

		//Links form-1
		a{
			color: $blue;
			@include transition();

			&:hover{
				color: $lblue;
			}
		}
	}//fieldset
	
	.form-1-footer{
		text-align: right;
		clear: both;
		margin-top: 40px;

		.pwd-settings,
		.form-1-btn-submit{
			display: inline-block;
		}

		.pwd-settings{
			color: $blue;
			font-size: 1.6em;
			margin-right: 10px;

			@include transition();

			&:hover{
				color: $lblue;
			}

		}
	}//footer

	//Required
	.required {
		position: absolute;
		left: -10px;
  		&:before{
  			font-size: 1.6em;
  			content: "*";
  			color: $red;
  		}
	}

	.required-message{
		font-size: 1.8em;
		margin: 20px 0;
		&:before{
  			font-size: 1.6em;
  			content: "*";
  			color: $red;
  		}
	}

}//form 1

//form-1-grey
.form-1-grey{
	padding: 10px 30px 40px 30px;
	background-color: #EEEEEE;


}


// **************************************************************************************************
// Ajuste no font-size do modulo form-1 atrelado ao modulo table. 
// Obs: O Table herda a media EM do Form-1, que multiplica o valor do font-size, 
// pois EM dentro de EM se multiplica
// **************************************************************************************************
.form-1{
	.table-content{
		fieldset{
			input,
			select,
			textarea{
				font-size: 100%;

				&:focus + label.form-1-placeholder,
				&.isActive + label.form-1-placeholder,
				&.isActive + .error + label.form-1-placeholder,
				&:focus + .error + label.form-1-placeholder{
					font-size: 12px;
				}

				&.error{
					&:focus + .error + label.form-1-placeholder{
						font-size: 100%;
					}
				}
			}

			label.form-1-placeholder{
				font-size: 100%;
			}
		}
	}
}





// *********************************
// Error Global (jQuery Validate)
// *********************************
fieldset{
	position: relative;
}

// Error (jQuery Validate)
label.error{
	position: absolute;
	top: -18px;
	left:0;
	background-color: #ffcc00;
	padding: 2px 8px;
	color: #fff;
	font-size: 1.4em;
}