//Mixins compostos, coletados de blogs/libs e adaptados

//Form Placeholder
@mixin placeholder {
  &::-webkit-input-placeholder{@content}
  &:-moz-placeholder{@content}
  &::-moz-placeholder{@content}
  &:-ms-input-placeholder{@content} 
}
// @include placeholder {
//     font-style:italic;
//     color: white;
//     font-weight:100;
// }



// Centralização quando não se sabe o height do elemento
@mixin centerer($horizontal: true, $vertical: true) {

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}
// .both {
//   @include center;
// }

// .horizontal {
//   @include centerer(true, false);
// }

// .vertical {
//   @include centerer(false, true);
// }



// Cross browser linear gradient
@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
/// @throw Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.;
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}
// .selector-1 {
//   @include linear-gradient(#31B7D7, #EDAC7D);
// }

// .selector-2 {
//   @include linear-gradient(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
// }

// .selector-3 {
//   @include linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
// }



// Cross browser opacity
// @mixin opacity($opacity) {
//   opacity: $opacity;
//   -moz-opacity: $opacity;
//   -khtml-opacity: $opacity;
//   $opacity-ie: $opacity * 100;
//   filter: alpha(opacity=$opacity-ie); //IE8
// }
//  @include opacity(0.8);



// Border radius
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
// Exemplo:
// .elemento1 {
//    @include border-radius(10px);
// }


// Transition
// @mixin transition($duration) {
//   -webkit-transition: all $duration ease;
//   -moz-transition: all $duration ease;
//   -o-transition: all $duration ease;
//   transition: all $duration ease;
// }
// Exemplo:
// .elemento1 {
//    @include transition(.5s);
// }


// Width e Height equivalentes ou independentes
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
// Exemplo 

// W e H equivalentes:
// .icon {
//     @include size(32px); ou
// }

// W e H independentes:
// .icon {
//     @include size(100%, 10em);
// }