.meus-enderecos{
	//table
	.table-address{
		width: 100%;

		.header{
			display: block;
		}

		.content{
			display: block;
		}

		//table lst-itms
		.lst-address{
			@include row();
			.itm-address{
				@include span-columns(3);
			}
			.itm-neighborhood{
				@include span-columns(3);
			}
			.itm-city{
				@include span-columns(2);
			}
			.itm-zip-code{
				@include span-columns(2);
			}

			//icons
			.itm-actions{
				@include span-columns(2);
				.edit,
				.remove{
					display: block;
					text-decoration: none;
					color: #1F1F1F;
				}

				.edit{
					&:before{
						content: "\f044";
						font-family: FontAwesome;
						color: $red;
						margin-right: 5px;
					}
				}

				.remove{
					&:before{
						content: "\f057";
						font-family: FontAwesome;
						color: $red;
						margin-right: 5px;
					}
				}
			}

		}
	}
	//botão
	button{
		float: right;
	}
}
