.brands-catalog{
	display: table;
	width: 100%;
	margin-bottom: 20px;

	li{
		@include span-columns(3);
		@include omega(4n);

		@media (max-width: 991px){
			@include span-columns(6);
			@include omega(2n);
		}

		@media (max-width: 767px){
			@include span-columns(12);
			@include omega(1n);
		}

		.brand-itm{
			margin-bottom: 20px;
			@include transition();
			display: table;
			width: 100%;
			@include transition();

			.brand-logo{
				background-color: #fff;
				padding: 10px;
				position: relative;

				img{
					width: 50%;
					position: absolute;
					@include centerer();
					@include transition();
				}
			}//brand logo

			.brand-ttl{
				margin: 20px 0;

				a{
					@include transition();
					color: $red;
					font-size: 1.6em;
					font-weight: $bold;
					text-transform: uppercase;
					text-align: center;
					display: block;
					text-decoration: none;
				}
			}//brand ttl

			&:hover{
				.brand-logo{
					@include css3-prefix( filter, brightness(40%));
					
					img{
						width: 60%;
					}
				}//brand logo

				.brand-ttl{
					a{
						color: $lred;
					}
				}//brand ttl
			}//hover
		}//brand itm
	}//li
}//brands catalog