.category-catalog{
	display: table;
	width: 100%;
	margin-bottom: 20px;

	li{
		@include span-columns(3);
		@include omega(4n);

		@media (max-width: 991px){
			@include span-columns(6);
			@include omega(2n);
		}

		@media (max-width: 767px){
			@include span-columns(12);
			@include omega(1n);
		}

		.category-itm{
			margin-bottom: 20px;
			@include transition();
			display: table;
			width: 100%;
			@include transition();

			.category-pic{
				background-color: #fff;
				overflow: hidden;

				img{
					width: 100%;
					@include transition();
					
				}
			}//category-pic

			.category-ttl{
				margin: 20px 0;

				a{
					@include transition();
					color: $red;
					font-size: 1.6em;
					font-weight: $bold;
					text-transform: uppercase;
					text-align: center;
					display: block;
					text-decoration: none;
				}
			}//category ttl

			&:hover{
				.category-pic{
					img{
						@include css3-prefix( filter, brightness(40%));
						@include css3-prefix( transform, scale(1.125));
					}
				}//category-pic

				.category-ttl{
					a{
						color: $lred;
					}
				}//category ttl
			}//hover

		}//category itm
	}//li
}//category catalog