.products-catalog{
	display: table;
	width: 100%;
	margin-bottom: 20px;

	li{
		@include span-columns(3);
		@include omega(4n);

		@media (max-width: 991px){
			@include span-columns(6);
			@include omega(2n);
		}

		@media (max-width: 767px){
			@include span-columns(12);
			@include omega(1n);
		}
	}//li

	.product-itm{
		margin-bottom: 40px;
		@include transition();
		display: table;
		width: 100%;
	    border: 1px solid #ddd;

		.product-itm-box{
			background-color: #fff;
			padding: 10px;
			margin-bottom: 10px;
			min-height: 360px;
			position:relative;

			.stamp{
			    width: 80px;
			    position: absolute;
			    left: -3px;
			    top: -3px;
			    z-index: 2;
			}


			.product-photo{
				position: relative;
				overflow: hidden;
				width: calc(100% + 20px);
				margin-top: -10px;
				margin-left: -10px;
				margin-right: -10px;
				background-color: #fff;

				.pic{
					@include transition();
					width: 100%;
					padding: 20px;
				}

				.view-more{
					@include centerer;
					position: absolute;
					@include opacity(0);
					@include border-radius(5px);
					border: 1px solid #fff;
					padding: 4px 8px;
					color: #fff;
					font-size: 1.6em;

					&:before{
						font-family: FontAwesome;
						content: "\f06e";
						margin-right: 5px;
					}
				}//view more
			}//product photo

			.ttl{
				a{
					font-size: 1.8em;
					font-weight: $bold;
					color: $dark;
					text-decoration: none;
					padding: 10px 0;
					display: block;
					line-height: 25px;
					text-align: center;
				}
			}

			.category{
				color: #111;
				font-weight: $bold;
				text-align: center;
				font-size: 1.4em;
				text-decoration: none;
				display: block;
				margin-bottom: 10px;
			}

			.description{
				color: #545454;
				font-size: 1.4em;
				text-align: center;
				line-height: 20px;
			}

		}//product itm box

		.product-actions{
			.price{
				text-align: right;
				font-size: 1.6em;
				color: $dark;
				padding: 10px;

				.price-canceled,
				.price-promotion{
					font-weight: $bold;						
				}

				.price-canceled{
					text-decoration: line-through;
				}

				.price-promotion{
					color: $red;
				}
			}//price
			.btn-view-more{
				float: right;
				margin: 20px 0;
				
				@include opacity(0);

				@media (max-width: 991px){
					@include opacity(1);
				}
			}

			.btn-view-more{
				border: 1px solid $blue;
				color: $blue;
				padding: 6px 10px;
				font-size: 1.4em;
				text-decoration: none;
				padding: 6px 10px;
				display: table;
				
				@include border-radius(5px);
				@include transition();

				&:hover{
					color:#fff;
					background-color: $blue;
					border:1px solid $blue;
				}
			}//btn view more
		}//product actions
		
		&:hover{
			.product-itm-box{
				.product-photo{
					.pic{
						@include css3-prefix( filter, brightness(40%));
						@include css3-prefix( transform, scale(1.125));

						padding: 0;
					}

					.view-more{
						@include opacity(1);
					}
				}//product photo

				.ttl{
					a{
						color: $red;
					}
				}
			}//product itm box
			
			.product-actions{
				.btn-view-more{
					@include opacity(1);
				}
			}//product actions
		}//hover

	}//product itm

		

}//products catalog

.btn-see-all{
	@include border-radius(5px);
	margin-top: 20px;
	margin-bottom: 20px;

	&:before{
		margin-right: 5px;
		font-family: FontAwesome;
		content: "\f196";
	}	
}//btn-see-all