.products-dtl-itm{
	//Grid
	> .pic,
	> .infos{
		@include span-columns(6);
		@media (max-width: 991px){
			@include span-columns(12);
		}
	}

	> .pic{
		@media (max-width: 991px){
			margin-bottom: 40px;
		}
	}

	//Style
	> .pic{
		.pic-main{
			display: none;

			&.isActive{
				display: block;
			}

			img{
				width: 100%;
			}

		}//pic main

		.products-dtl-carousel{
			padding: 10px 60px 0;
			position: relative;

			.itm{
				cursor: pointer;
				margin: 0 10px;

				img{
					width: 100%;
				}

				&.isActive{
					border: 2px solid $red;
				}
			}

			.owl-controls{
				position: absolute;
				top:15%;
				left:0;
				right: 0;

				.owl-prev,
				.owl-next{
					position: absolute;
					font-size: 6.4em;
					color: #ddd;
				}

				.owl-prev{
					left: 0;
				}

				.owl-next{
					right:0;
				}
			}
		}//products-dtl-carousel
	}//pic

	> .infos{
		//Grid
		.product-ttl,
		.category,
		.description,
		.promotion{
			@include span-columns(12);
		}

		.category,
		.description,
		.promotion{
			margin-bottom: 20px;
		}

		.actions{
			@include span-columns(12);
			margin-bottom: 40px;

			.price,
			.amount,
			.payment-data,
			.buy,
			.doubt,
			.indicate{
				@include span-columns(6 of 12);
				@include omega(2n);
				margin-bottom: 40px;

				@media (max-width: 991px){
					@include span-columns(12 of 12);
					@include omega(1n);
				}
			}

			.amount-box{
				background: #eee;
			    padding: 20px;
			    text-align: center;
			    
				label,
				input{
					display: inline-block;
				}

				label{
					font-size: 1.4em;
					padding: 6px 0;
					margin-right: 10px;
				}

				input{
					font-size: 1.8em;
					text-align: center;
				}
			}//amount
		}//actions

		.amount-max,
		.amount-min{
			text-align: right;
			margin-bottom: 10px;
			font-size: 1.2em;
		}

		.amount-max{
			margin-top: 20px;
		}

		//Style
		.product-ttl{
			padding-top: 0;
		}

		.category{
			font-weight: $semibold;
			font-size: 1.8em;
			color: $dark;
			margin-bottom: 20px;
		}

		.description{
			margin-bottom: 20px;
			font-weight: $light;
			color: #444;
			font-size: 1.6em;
			line-height: 25px;
		}

		.price{
			font-size: 16px;

			.price-canceled{
				text-decoration: line-through;
				font-weight: $bold;
			}

			.price-promotion{
				margin-top: 10px;
				display: block;
				font-weight: $semibold;
				color: $red;
				font-size: 32px;
			}

			.free-shipping{
				display: table;
				background-color: #009D2A;
				padding: 5px;
				color: #fff;
				font-weight: $bold;
				font-size: 78%;
				margin-top: 10px;

				&:before{
					margin-right: 5px;
					font-family: FontAwesome;
					content: "\f0d1";
				}
			}
		}//price


		.payment-data{
			.payment-form,
			.calculate-freight{
				position: relative;
			}

			.payment-form-ttl,
			.calculate-freight-ttl{
				font-size: 14px;
				font-weight: $light;
				color: $dark;
				text-decoration: none;
				display: block;
				@include transition();
				cursor: pointer;
				padding: 3px;

				&:before{
					font-family: FontAwesome;
					font-weight: normal;
					margin-right: 5px;
					color: $red;
					font-size: 16px;
					display: inline-block;
				}

				&:hover{
					color: $red;
				}

				// If Clicked
				&.isActive{
					color: #fff;
					background-color: $red;
				}
			}//payment-form and calculate-freight pairament	

			.payment-form-ttl{
				margin-bottom: 5px;
			 	&:before{
			 		content:"\f09d";
				}
			}

			.calculate-freight-ttl{
				margin-bottom: 10px;
			 	&:before{
			 		content:"\f0d1";
				}
			}		
		}//payment-data

		.buy{
			.btn-buy{
				font-size: 1.8em;
			}
		}

		.promotion{
			li{
				font-size: 12px;
				display: block;
				color: $dark;
				margin-bottom: 10px;

				&:before{
					font-family: FontAwesome;
					font-weight: normal;
					margin-right: 5px;
					color: $red;
					display: inline-block;
					content: "\f145";
				}
			}
		}//promotion

		.doubt,
		.indicate{
			background-color: #fff;
			border: 1px solid #ddd;
			position: relative;
			padding: 20px 10px;
			padding-left: 50px;
			cursor: pointer;
			min-height: 98px;
			@include transition();



			&:before{
				position: absolute;
				left: 10px;
				top:20px;
				font-size: 3.6em;
				color: $red;
				font-family: FontAwesome;
			}

			.ttl,
			p{
				color: #777;
			}

			.ttl{
				font-weight: $semibold;
				font-size: 1.8em;
				margin-bottom: 10px;
			}

			p{
				font-size: 1.4em;
			}

			&:hover{
				border: 1px solid $red;

				.ttl,
				p{
					color: $red;
				}
			}//doubt and indicate hover
		}//doubt and indicate pairing

		.doubt{
			&:before{
				content: "\f29c";
			}
		}

		.indicate{
			&:before{
				content: "\f087";
			}
		}
		
	}//infos
}//products-dtl-itm


.related-products{
	background-color: #ddd;
	padding: 40px 0;

	.related-products-carousel{
			position: relative;
			padding: 0 60px 0;

			@media (max-width: 700px){
				padding: 0 30px 0;
			}

			.product-itm{
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 20px);

				@media (max-width: 495px){
					margin-left: 0;
					margin-right: 0;
					width: 100%;
				}
			}

			.owl-controls{
				position: absolute;
				top:35%;
				left:0;
				right: 0;

				.owl-prev,
				.owl-next{
					position: absolute;
					font-size: 6.4em;
					color: #555;
				}

				.owl-prev{
					left: 0;
				}

				.owl-next{
					right:0;
				}
			}
		}//related-products-carousel
}//related-procuts


.product-info{
	padding: 40px 0;
	background-color: #eee;

	.product-info-txt{
		margin-bottom: 40px;

		background-color: #fff;
		padding: 20px;
		font-size: 1.8em;
		color: #666;
		line-height: 25px;

		br{
			content:"";
			display: block;
			margin: 20px 0;
		}
	}//product-info-txt

	.share{
		display:table;
		margin: auto;

		.ttl,
		.addthis-custom{
			display: inline-block;
			vertical-align: middle;
		}

		.ttl{
			font-size: 2.4em;
			margin-right: 10px;
		}
	}
}//product-info