.banner-welcome{
	background-color: #211D1E;
	padding: 20px 0;

	.message{
		color: #fff;
		text-align: center;
		font-size: 3.2em;
		font-weight: $light;

		b{
			font-weight: $semibold;
			margin-right: 10px;
		}
	}//message	
}//banner welcome
