.step-by-step{
	display: table;
	margin: 0 auto 40px;
	position: relative;
	text-align: center;
	z-index: 1;

	&:after{
		content: "";
		height: 5px;
		background-color: #eee;
		position: absolute;
		left:0;
		right:4px;
		z-index: -1;
	    top: 25px;
	}

	li{
		display: inline-block;
		margin: 0 105px;
		@media (max-width: 991px){
			margin: 0 15px;
		}

		&:last-of-type{
			margin-right: 0;
		}

		&:first-of-type{
			margin-left: 0;
		}

		.itm{
			text-decoration: none;

			.number{
				width: 50px;
				height: 50px;
				padding-top: 13px;
				font-size: 2.4em;
				margin-bottom: 10px;
				@include border-radius(100%);

				//isNotActive
				background-color: #ddd;
				color: #aaa;

				&.cart,
				&.payment,
				&.finish{
					&:before{
						font-family: FontAwesome;
					}
				}

				&.cart{
					&:before{
						content: "\f07a";
					}
				}

				&.payment{
					&:before{
						content: "\f283";
					}
				}

				&.finish{
					&:before{
						content: "\f05d";
					}
				}
			}//number

			.description{
				font-size: 1.2em;
				color: #aaa;
				font-weight: $semibold;
			}

			&.isActive{
				.number{
					background-color: $red;
					color: #fff;	
				}

				.description{
					color: $red;
				}
			}


		}//itm
	}//li
}