.checkout-pagamento{
	//Titles das tables
	.ttl{
		margin: 0;
		padding: 0;
	}

	//Items do resume
	.resume{
		width: 100%;	
		.itm-resume{
			@include span-columns(9);
		}
		.price-resume{
			@include span-columns(3);
		}

		.total{
			font-size: 120%;
			margin-top: 10px;
		}
	}

	//Opções de entrega
	.delivery-option{
		.lst-delivery{
			@include row();

			.itm-delivery{
				@include span-columns(4);
				@include omega(3n)
				@media(max-width: 991px){
					@include span-columns(6);
					@include omega(2n)
				}
				cursor: pointer;

				.days,
				.price{
					font-size: 12px;
					color: #aaa;
				}
			}//itm-delivery
		}//lst-delivery

		.content-delivery{
			margin-top: 10px;
			border-top: 1px solid #eee;
			padding-top: 10px;
			display: none;

			&.isActive{
				display: inherit;
			}
		}
	}

	//Formas de pagamento
	.payment-forms{
		.options{
			@include span-columns(3);
			@media (max-width: 991px){
				@include span-columns(12);
			}
			border-right: 1px solid #eee; 

			label {
				@include row();
				cursor: pointer;
				@include transition();
				margin-bottom: 20px;

				&:hover{
					background-color: #eee;
				}

				.pic{
					@include span-columns(3);
				}

				.txt{
					@includ span-columns(9);
				}
			}//label

			input[type="radio"]{
				display: none;
			}

			input[type="radio"]:checked + label{
				background-color: $red;
				color: #fff;
			}
		}//options

		.options-info{
			@include span-columns(9);
			@media (max-width: 991px){
				@include span-columns(12);
			}

			.itm-options-info{
				.name{
					font-size: 1.6em;
				}

				.value{
					font-size: 1.6em;
					color: #999;
					margin: 10px 0;

					&:before,
					&:after{
						content: "";
						display: block;
						height: 1px;
						background-color: #eee;
					}

					&:before{
						margin-bottom: 5px;
					}

					&:after{
						margin-top: 5px;
					}
				}//value
				.detail{
					@include row();

					.pic{
						@include span-columns(2);
					}

					.txt{
						@include span-columns(10);
					}
				}	
			}
		}//options-info
	}//payment-forms

	.btn-continue{
		float: right;
	}
}