.contato{
	main{
		padding-bottom: 0px;

		.send-contact{
			margin-bottom: 40px;
			
			.required-message{
				&:before{
					font-size: inherit;
				    margin-right: 5px;
				}
			}

			//enviar
			.send{
				.recaptcha{
					margin-bottom: 20px;
					display: table;
					float: right;
				}

				.btn-send{
					float: right;
					clear: both;
					
				}
			}
		}//send-contact

		//informações
		.contact-informations{
			background-color: #eee;
			padding-bottom: 0px;


		}
		//informações detalhes
		.detail{
			color: #000;
			text-align: right;

			//detail mobile
			@media (max-width: 991px){
				text-align: center;
				font-size: 18px;
			}

			.ttl{
				float: right;
				margin-top: 10px;
				margin-bottom: 15px;
				color: #000;

				//detail title mobile
				@media (max-width: 991px){
					float: none;
					text-align: center;
					margin-right: auto;
					margin-left: auto;
				}
			}
			
			//informações lista
			ul{
				clear: both;
				font-size: 18px;
				margin-top: 30px;
				font-weight: $light;
				@media (max-width: 991px){
					padding: 0 15px;
				}
				li{
					margin-bottom: 20px;

					a{
						color: #000;
					}
				}
			}
		}
	}
}
