main{
	.institucional {
		margin: 0px 0;
		padding: 0;

		.content{
			p{
				font-size: 18px;
				color: #241F1F;
				line-height: 30px;
				margin-bottom: 20px;

				//Strong and Bold
				b,
				strong{
					font-weight: $bold;
				}

			}//p
			
			//Links
			a{
				color: $blue;
				@include transition();
				&:hover{
					color: $lblue;
				}
			}
		}//content
	}//institucional
}//main