body{
	text-align: center;
}

// Colors
$red: #EA2026;
$grey: #545454;


// Font family
*{
	font-family: Verdana;
}

a{
	color: $grey;
}



// *********
// Container
// *********
.ctn{
	width: 570px;
	margin: auto;
	color: $grey;
	border-spacing: 0;
	text-align: left;
}


// ******
// Header
// ******
.header{
	td{
		border-collapse: collapse;
		padding: 20px 0;
		border-bottom: 1px solid #ddd;

		&.infos{
			text-align: right;
			line-height: 25px;
		}
	}
}



// *******
// Content
// *******
.content{
	> td{
		padding: 20px 0;
	}
}


// **********
// Components
// **********

// Status do pedido
.pedido-status{
	margin: 0 auto 40px;
	display: block;
}

// Texts
.txt{
	text-align: left;
	margin: 40px 0;
	display: block;
	line-height: 25px;
}

// Titles
.ttl-black{
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
	text-transform: uppercase;
}

.ttl-red{
	background-color: #EA2026;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

// Colors
.red{
	color: $red;
}

// Buttons
.veja-mais{
	color: #0676B7;
}

.clique-aqui{
    text-transform: uppercase;
    text-decoration: none;
    background-color: $red;
    padding: 5px 8px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

// Break lines
// .br-sm{
// 	content: "";
// 	display: block;
// 	margin: 20px 0;
// 	line-height: 25px;
// }


// Table data
.ttl-data{
	width: 100%;

	.ttl{
		td{
			font-size: 14px;
			color: $red;
			font-weight: bold;
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}
}

.table-data{
	width: 100%;
	margin-bottom: 40px;
	border-spacing: 0;
	border-collapse: collapse;

	> .ttl{
		> td{
			font-size: 14px;
			color: $red;
			font-weight: bold;
			padding: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			margin: 0;
			height: 1;
		}
	}

	> .data{
		> td{
			font-size: 12px;
			padding: 20px;
			border: 1px solid #eee;
			line-height: 25px;

			&.nome-produto{
				padding: 20px 2px;
				width: 201px;
			}

			.pic{

			}

			.icon-attachment{
				margin-right: 5px;
			}
		}
	}

	> .total{
		> td{
			padding-top: 10px;
			text-align: right;
			font-size: 12px;
			color: #333;
			line-height: 20px;

			.total-final{
				font-size: 16px;
			}
		}
	}
}

.logo-banco{
	width: 43px;
}
