.main-header{
	z-index: 9999;
	position: relative;

	.main-header-top{
		background-color: #eee;
		padding: 10px 0;
		color: #444;

		.message,
		.actions{
			@include span-columns(6);
			@include omega(2n);

			vertical-align: middle;

			@media (max-width: 991px){
				@include span-columns(12);
				@include omega(1n);

				text-align: center;
			}//mobile

		}//message

		.message{
			font-size: 1.4em;
			padding-top: 8px;

			@media (max-width: 991px){
				margin-bottom: 10px;
				line-height: 20px;
			}
		}//message

		.actions{
			text-align: right;

			@media (max-width: 991px){
				text-align: center;
			}

			.contact-itms,
			.user-area{
				display: inline-block;
			}

			.contact-itms{
				li{
					font-size: 1.4em;
					display: inline-block;
					margin: 0 10px;

					@media (max-width: 991px){
						margin-bottom: 10px;
					}

					.phone,
					.customer-service{
						&:before{
							font-family: FontAwesome;
							color: $red;
							margin-right: 5px;
						}
					}

					.phone{
						&:before{
							content:"\f095";
						}
					}

					.customer-service{
						text-decoration: none;
						color: #333;

						&:before{
							content:"\f27b";
						}
					}
				}//li
			}//contact itms

			.user-area{
				> li{
					display: inline-block;
					margin: 0 2px;
					position: relative;

					&:last-of-type{
						margin-right: 0;
					}

					> button{
						background-color: #999;
						padding: 8px;
						text-decoration: none;
						display: block;
						height: 34px;
						width: 34px;
						text-align: center;
						@include border-radius(100%);

						@include transition();

						&:hover{
							background-color: $red;
						}


						&:before{
							font-size: 1.5em;
							font-family: FontAwesome;
							color: #fff;
						}

						&.btn-login{
							&:before{
								content: "\f2c0";
							}
						}

						&.btn-shopping-cart{
							&:before{
								content: "\f07a";
							}
						}

					}//button

					.modal-login,
					.modal-shopping-cart{
						position: absolute;
						width: 290px;
						top: 44px;
						padding: 10px;
						text-align: left;
						background-color: #fff;
						right: 0;
						color: #000;
						z-index: 99991;

						@include box-shadow(0, 2px, 5px, rgba(0,0,0,.8), "");

						.btn-close{
							position: absolute;
							right: 10px;
							top: 10px;
						}

						.ttl{
							color: #333;
							font-size: 1.8em;
							font-weight: $semibold;
							margin-bottom: 10px;
						}
					}//modal login and shopping cart

					.modal-login{
						display: none;

						@media (max-width: 469px){
							right: inherit;
							@include centerer(true, false);
							left: 105%;
						}

						input{
							background-color: #eee;
							border:0;
							padding: 10px;
							width: 100%;
							font-size: 1.4em;
							margin-bottom: 10px;

							@include placeholder {
							    font-family: Lato;
							    color: #999999;
							    font-weight: $regular;
							}
						}

						.btn-login,
						.support{
							display: inline-block;
						}

						.btn-login{
							margin-right: 8px;
						}

						.support{
							vertical-align: top;

							li{
								a{
									color: $blue;
									font-size: 1.4em;
									display: block;
									margin-bottom: 8px;

									@include transition();

									&:hover{
										color: $lblue;
									}
								}//a
							}//li
						}

						&.logged{
							header{
								background-color: #ddd;
								padding: 5px 50px 5px 5px;
								display: table;
								width: calc(100% + 20px);
							    margin-left: -10px;
							    margin-top: -10px;
							    margin-right: -10px;
							    margin-bottom: 10px;

								.pic-user{
									@include span-columns(2);
									@include border-radius(100%);
								}

								.name-user{
									@include span-columns(10);
									margin-top: 10px;
									padding-left: 5px;
									font-size: 1.6em;
									font-weight: $bold;
								}
							}//header
							
							.nav-user{
								li{
									margin-bottom: 10px;

									a{
										font-size: 1.6em;
										color: #202020;
										text-decoration: none;

										i{
											color: #ccc;
										}
									}
								}//li
							}//nav user
						}//logged
					}//modal login

					.modal-shopping-cart{
						display: none;

						@media (max-width: 469px){
							right: inherit;
							@include centerer(true, false);
							left: calc(50% - 20px);
						}


						.product-lst{
							padding: 5px;
							background-color: #eee;
							height: 127px;
							overflow: hidden;
							margin-bottom: 10px;

							.product-itm{
								display: table;
								border-bottom: 1px solid #ddd;
								padding-bottom: 10px;
								margin-bottom: 15px;
								position: relative;

								.btn-rm{
								    position: absolute;
								    bottom: 10px;
								    right: -6px;

									&:before{
										font-family: FontAwesome;
									    content: "\f00d";
									    font-size: 1.2em;
									    padding: 4px 5px;
									    @include transition();
									}

									&:hover{
										&:before{
											color: #fff;
										    background-color: $red;
										}
									}
								}//btn remove

								.pic{
									@include span-columns(4);
								}

								.text{
									@include span-columns(8);

									.product-ttl{
										a{
											font-size: 1.4em;
											font-weight: $bold;
											color: $red;
											margin-bottom: 5px;
											text-decoration: none;
											line-height: 15px;
											display: block;
										}
									}

									.category{
										font-size: 1.4em;
										color: #333;
										font-weight: $semibold;
										margin-bottom: 5px;
									}

									.description{
										font-size: 1.2em;
										color: #545454;
										line-height: 15px;
										margin-bottom: 5px;
									}

									.units{
										font-size: 1.2em;
										color: #111;
										font-weight: $bold;
									}
								}//text
							}//product itm

							// Carrinho vazio
							.cart-empty{
								font-size: 1.4em;
								text-align: center;
								margin-top: 10px;
								line-height: 30px;

								.btn-buy{
									font-size: 14px;
									display: inline-block;
									line-height: 15px;
									cursor: pointer;
								}
							}
						}//product lst

						.itms-added{
							float: left;
							font-size: 1.2em;
							font-weight: $semibold;

						}

						.total-price{
							float: right;
							font-size: 1.8em;
							font-weight: $semibold;
						}//itms added

						.itms-added,
						.total-price{
							margin-bottom: 10px;
						}

						.btn-view-cart{
							clear: both;
							display: block;
							font-weight: $semibold;
							width: 100%;
							padding: 10px;
							text-align: center;
							display: block;
						}//btn -view-cart
					}//modal shopping cart
				}//li
			}//user area
		}//actions
	}//main header top

	.main-header-bottom{
		background-color: #fff;
		padding: 20px 0;
		@include box-shadow(0, 10px, 10px, rgba(0,0,0,.2), "");

		.logo{
			@include span-columns(3);
			padding-right: 20px;
			border-right: 1px dotted #242021; 

			@media (max-width: 991px){
				@include span-columns(12);

				padding-right: 0;
				border-right: 0;
				margin-bottom: 20px;
			}

			img{
				width: 100%;

				@media (max-width: 991px){
					width: 220px;
					display: table;
					margin: auto;
				}
			}

		}//logo

		.btn-menu{
			@include span-columns(2);
			color: #242021;
			text-align: left;
			font-size: 2.4em;
			margin-top: 15px;

			@media (max-width: 991px){
				@include span-columns(12);
				text-align: center;
				margin-bottom: 20px;
			}

			&:before{
				content: "\f107";
				font-family: FontAwesome;
				color: $red;
				margin-right: 5px;
			}

			&.active{
				&:before{
					content: "\f106";
				}
			}//active
		}

		.main-nav{
			background-color: #ddd;
			background: linear-gradient(90deg, #ddd 20%, #ECECEC 10%);
			display: none;

			margin-top: 15px;
			margin-bottom: -20px;

			.nav-tab,
			.nav-tab-content{
				padding: 10px 0 30px;
				@media (max-width: 991px){
					padding: 10px;
				}
			}

			.nav-tab{
				@include span-columns(3);
				background-color: #DDD;
				min-height: 155px;

				@media (max-width: 991px){
					@include span-columns(12);

					margin-left: -30px;
					margin-right: -30px;
					width: calc(100% + 60px);
				}

				@media (max-width: 320px){
					@include span-columns(12);

					margin-left: -15px;
					margin-right: -15px;
					width: calc(100% + 30px);
				}


				li{
					display: block;
					cursor: pointer;
					font-size: 1.6em;
					text-align: right;
					padding: 10px 0;
					padding-right: 20px;
					@include transition();

					&:hover{
						color: $red; 
					}

					&.current{
						background-color: #ECECEC; 
					}//current

					@media (max-width: 991px){
						display: inline-block;
						padding: 10px;
					}

					&:after{
						font-family: FontAwesome;
						content: "\f105";
						margin-left: 10px;
						@media (max-width: 991px){
							content:"";
							margin-left: 0;
						}
						color: #333;
					}//after

					&[data-tab="home"] {
						&:after{
							content:"";
						}
					}

					a{
						text-decoration: none;
						color: #202020;

					}//a
				}//li
			}//nav tab

			.nav-tab-content{
				@include span-columns(9);

				margin-right: 0;
				background-color: #ECECEC;
				display: none;
				margin-right: 0;

				@media (max-width: 991px){
					@include span-columns(12);
					display: none;
					width: calc(100% + 60px);
					margin-left: -30px;
					margin-right: -30px;
				}

				@media (max-width: 991px){
					width: calc(100% + 30px);
					margin-left: -15px;
					margin-right: -15px;
				}

				&.current{
					display: block;
				}

				.ttl{
					font-size: 2.5em;
					font-weight: $bold;
					color: $red;
					margin-bottom: 20px;
				}

				.nav-tab-content-itms{
					@include span-columns(9);

					@media (max-width: 991px){
						@include span-columns(12);
					}

					li{
						@include span-columns(4);
						@include omega(3n);

						@media (max-width: 991px){
							@include span-columns(12);
						}


						margin-bottom: 10px;

						a{
							font-size: 1.6em;
							color: #333;
							text-decoration: none;
						}//a
					}//li
				}//nav tab content itms

				.nav-tab-content-photo{
					@include span-columns(3);

					@media (max-width: 991px){
						display: none;
					}
				}//nav tab content photo
			}//nav tab content
		}//main nav

		.main-search{
			@include span-columns(7);
			margin-top: 10px;

			@media (max-width: 991px){
				@include span-columns(12);
			}

			input{
				border: 1px solid #ddd;
				padding: 10.6px 12px;
				width: calc(100% - 44px);
				display: inline-block;
				vertical-align: middle;
				font-size: 1.6em;

				@include placeholder {

				}
			}

			.btn-main-search{
				margin: 0;
				margin-left: -3px;
				padding: 0;

				&:before{
					display: inline-block;
					vertical-align: middle;
					font-family: FontAwesome;
					font-size: 2.5em;
					padding: 8.5px 10px;
					content: "\f002";
					color: #fff;
					background-color: $red;
					@include transition();
				}

				&:hover{
					&:before{
						background-color: $lred;
					}
				}
			}
		}//main search

	}//main header bottom

}