.table{
	margin-bottom: 20px;
}
.table-grey{
	.table-header{
		background-color: #DDDDDD;
	}
	.table-content{
		background-color: #EEE;
	}
}

.table-header{
	background-color: #eee;
	padding: 10px;
}

.table-content{
	background-color: #fff;
	padding: 10px;
	font-size: 1.4em;
	line-height: 25px;

	.table .table-content {
		font-size: 100%;
	}

	a{
		color: $blue;
		@include transition();

		&:hover{
			color: $lblue;
		}
	}

	[data-ttl-itm]{
		&:before{
			@extend .ttl-sm-black-2;

			@media (max-width: 991px){

			    	content: attr(data-ttl-itm);
					background-color: #eee;
					padding: 10px;
					display: block;
					margin-left: -10px;
					margin-right: -10px;
					margin-top: 10px;
					font-size: 18px;
			}
		}
	}

	.table-grey {
		[data-ttl-itm]{
			@media (max-width: 991px){
				&:before{
					background-color: #ddd;
				}
			}
		}
	}

	[data-ttl-itm]{
		&:before{
			@extend .ttl-sm-black-2;

			@media (max-width: 991px){

			    	content: attr(data-ttl-itm);
					background-color: #eee;
					padding: 10px;
					display: block;
					margin-left: -10px;
					margin-right: -10px;
					margin-top: 10px;
					font-size: 18px;
			}
		}

		&:first-of-type{
			&:before{
				margin-top: -10px;
			}
		}
	}//data-ttl-itm
}