.btn-attachment{
	display: block;
	margin-top: 10px;

	&:before{
		content: "\f1c5";
		font-family: FontAwesome;
		margin-right: 5px;
	}
}

.obs-attachment{
	display: block;
	font-size: 14px;
	color: #444;
	margin-top: 10px;
	margin-bottom: 20px;

	span{
		color: $red;
	}
}//obs-attachment	