.breadcrumb{
	margin: 20px 0 30px;
    background-color: #efefef;
    padding: 10px 15px 0;
    @include border-radius(5px);
    display: table;

	li{
		font-size: 1.5em;
		color: $dark;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 10px;
		line-height: 25px;

		&:before{
			color: $dark;
			font-family: FontAwesome;
			content: "\f105";
			margin: 0 10px;
			display: inline-block;
			vertical-align: middle;
		}

		&:first-of-type{
			&:before{
				content: "";
				margin: 0;
			}
		}

		a{
			color: $blue;
			display: inline-block;
			@include transition();

			&:hover{
				color: $lblue;
			}
		}//a
	}//li
}//a