//Btn close
.btn-close{
	&:before{
		@include transition();
		padding: 2px 4px;
		font-family: FontAwesome;
		content: "\f00d";
		font-size: 1.8em;
		background-color: $red;
		color: #fff;
		cursor: pointer;

	}

	&:hover{
		&:before{
			background-color: $lred;
			color: #fff;
		}
	}
}//btn-close
a.btn-close{
	text-decoration: none;
}

.btn-buy-sm{
	@include border-radius(5px);
	color: #fff;
	background-color: $red;
	font-weight: $semibold;
	font-size: 1.8em;
	padding: 6px 10px;
	display: table;
	@include transition();

	&:hover{
		background-color: $lred;
		color: #fff;
	}
	
	
	&:before{
		content: '\f07a';
		font-family: FontAwesome;
		font-weight: normal;
		margin-right: 5px;
	}
}//btn buy sm
a.btn-btn-buy-sm{
	text-decoration: none;
}

.btn-md-red-sq{
	background-color: $red;
	padding: 12px 16px;
	color: #fff;
	font-size: 1.8em;

	@include transition();

	&:hover{
		background-color: $lred;
	}
}//btn-md-red-sq
a.btn-md-red-sq{
	text-decoration: none;
}

.btn-md-red{
	background-color: $red;
	padding: 12px 16px;
	color: #fff;
	font-size: 1.8em;
	margin-right: 8px;
	cursor: pointer;
	@include border-radius(5px);

	@include transition();


	&:hover{
		background-color: $lred;
		color: #fff;
	}

}//btn-md-red
a.btn-md-red{
	text-decoration: none;
}


.btn-sm-blue{
	background-color: $blue;
	padding: 8px 12px;
	color: #fff;
	font-size: 1rem;
	line-height: 20px;
	margin-right: 8px;
	@include border-radius(5px);

	@include transition();


	&:hover{
		background-color: $lblue;
		color: #fff;
	}
}//btn-sm-blue

.btn-md-blue{
	background-color: $blue;
	padding: 12px 16px;
	color: #fff;
	font-size: 1.8em;
	margin-right: 8px;
	@include border-radius(5px);

	@include transition();


	&:hover{
		background-color: $lblue;
		color: #fff;
	}
}//btn-md-blue
a.btn-md-blue{
	text-decoration: none;
}

.btn-lg-red{
	padding: 12px 13px;
	font-size: 20px;
	color: #fff;
	display: table;
	background-color: $red;
	@include transition;
	text-align: center;
	line-height: 25px;

	&:hover{
		background-color: $lred;
		color: #fff;
	}
}//btn-lg-red
a.btn-lg-red{
	text-decoration: none;
}

.btn-sm-red{
	padding: 8px 9px;
	font-size: 1rem;
	color: #fff;
	display: table;
	background-color: $red;
	@include border-radius(5px);
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 25px;
	@include transition;

	&:hover{
		background-color: $lred;
		color: #fff;
	}
}//btn-sm-red
a.btn-sm-red{
	text-decoration: none;
}


.btn-xsm-red{
	padding: 1px 6px;
	font-size: 0.8rem;
	color: #fff;
	display: table;
	background-color: $red;
	@include border-radius(5px);
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 25px;
	@include transition;

	&:hover{
		background-color: $lred;
		color: #fff;
	}
}//btn-xsm-red


//centralizar o button no mobile
.btn-mbl-cnt{
	@media (max-width: 991px){
		margin-left: auto;
		margin-right: auto;
		display: table;
	}	
}//btn-mbl-cnt
a.btn-mbl-cnt{
	text-decoration: none;
}


//buttons green
.btn-sm-green{
	@include border-radius(5px);
	padding: 6px 10px;
	font-size: 1.4em;
	color: #fff;
	cursor: pointer;
	display: table;
	background-color: $green;
	@include border-radius(5px);
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: $semibold;
	line-height: 25px;
	@include transition();

	&:hover{
		background-color: #00bf71;
		color: #fff;
	}
}//btn-sm-green
a.btn-sm-green{
	text-decoration: none;
}

.btn-xsm-green{
	padding: 1px 6px;
	font-size: 0.8rem;
	color: #fff;
	display: table;
	background-color: $green;
	@include border-radius(5px);
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 25px;
	@include transition;

	&:hover{
		background-color: $lgreen;
		color: #fff;
	}
}//btn-xsm-green


//btn-md-black
.btn-md-black{
	background-color: #000;
	padding: 12px 16px;
	color: #fff;
	font-size: 1.8em;
	cursor: pointer;
	margin-right: 8px;
	@include border-radius(5px);

	@include transition();


	&:hover{
		background-color: #505050;
		color: #fff;
	}	
}//btn-md-black
a.btn-md-black{
	text-decoration: none;
}


.btn-disabled{
	background-color: #c3c3c3;
	cursor: no-drop;

	&:hover{
		background-color: #c3c3c3;
	}
}