//@Libs ===

//Webfont
@import "../libs/lato/lato.css";


//Font Awesome
@import "../libs/font-awesome/font-awesome.css";


//Reset
@import url(../libs/reset/reset.css);


//Reset iOS
@import url(../libs/reset-ios/reset-ios.css);


//Owl Carousel
@import url(../libs/owl.carousel/owl.carousel.css);
// @import url(../libs/owl.carousel/owl.theme.css);


//Scrollbar
@import url(../libs/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css);



//@Template Variables ===


// Font Weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;



// Font weight default 
b{
	font-weight: $bold;
}



//Colors
$dark: #241F20;
$ldark: #796c6e;

$lgrey: #F6F6F6;
$grey: #ECECEC;
$dgrey: #ddd;

$yellow: #ffcc00;

$blue: #0776B7;
$lblue: #4da3d6;

$lgreen: #00bf71;
$green: #009D2A;

$red: #EA2026;
$lred: #f73d42;


// Breakpoints
$bp-md: 1024px;
$bp-sm: 991px;
$bp-xs: 767px;
$bp-xxs: 550px;
$bp-mxs: 320px;


//@Geral sets ===
body {
	font-family: Lato;
	font-weight: $regular;
	font-size: 62.5%;
}

//Removendo modal do addthis
#at-cv-toaster.at-cv-mask{
	display: none !important;
}

main{
	display: inline-block;
	width: 100%;
	background-color: #F6F6F6;

	padding: 40px 0 80px;
}
