/* BEGIN Hairline */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Hairline/Lato-Hairline.eot?v=1.0.0");
  src: url("./fonts/Hairline/Lato-Hairline.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/Hairline/Lato-Hairline.woff2?v=1.0.0") format("woff2"), url("./fonts/Hairline/Lato-Hairline.woff?v=1.0.0") format("woff"), url("./fonts/Hairline/Lato-Hairline.ttf?v=1.0.0") format("truetype"), url("./fonts/Hairline/Lato-Hairline.svg?v=1.0.0#LatoHairline") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Hairline */
/* BEGIN Hairline Italic */
@font-face {
  font-family: "Lato";
  src: url("./fonts/HairlineItalic/Lato-HairlineItalic.eot?v=1.0.0");
  src: url("./fonts/HairlineItalic/Lato-HairlineItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/HairlineItalic/Lato-HairlineItalic.woff2?v=1.0.0") format("woff2"), url("./fonts/HairlineItalic/Lato-HairlineItalic.woff?v=1.0.0") format("woff"), url("./fonts/HairlineItalic/Lato-HairlineItalic.ttf?v=1.0.0") format("truetype"), url("./fonts/HairlineItalic/Lato-HairlineItalic.svg?v=1.0.0#LatoHairlineItalic") format("svg");
  font-weight: 100;
  font-style: italic; }
/* END Hairline Italic */
/* BEGIN Light */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Light/Lato-Light.eot?v=1.0.0");
  src: url("./fonts/Light/Lato-Light.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/Light/Lato-Light.woff2?v=1.0.0") format("woff2"), url("./fonts/Light/Lato-Light.woff?v=1.0.0") format("woff"), url("./fonts/Light/Lato-Light.ttf?v=1.0.0") format("truetype"), url("./fonts/Light/Lato-Light.svg?v=1.0.0#LatoLight") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: "Lato";
  src: url("./fonts/LightItalic/Lato-LightItalic.eot?v=1.0.0");
  src: url("./fonts/LightItalic/Lato-LightItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/LightItalic/Lato-LightItalic.woff2?v=1.0.0") format("woff2"), url("./fonts/LightItalic/Lato-LightItalic.woff?v=1.0.0") format("woff"), url("./fonts/LightItalic/Lato-LightItalic.ttf?v=1.0.0") format("truetype"), url("./fonts/LightItalic/Lato-LightItalic.svg?v=1.0.0#LatoLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Regular/Lato-Regular.eot?v=1.0.0");
  src: url("./fonts/Regular/Lato-Regular.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/Regular/Lato-Regular.woff2?v=1.0.0") format("woff2"), url("./fonts/Regular/Lato-Regular.woff?v=1.0.0") format("woff"), url("./fonts/Regular/Lato-Regular.ttf?v=1.0.0") format("truetype"), url("./fonts/Regular/Lato-Regular.svg?v=1.0.0#LatoRegular") format("svg");
  font-weight: 400;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Italic/Lato-Italic.eot?v=1.0.0");
  src: url("./fonts/Italic/Lato-Italic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/Italic/Lato-Italic.woff2?v=1.0.0") format("woff2"), url("./fonts/Italic/Lato-Italic.woff?v=1.0.0") format("woff"), url("./fonts/Italic/Lato-Italic.ttf?v=1.0.0") format("truetype"), url("./fonts/Italic/Lato-Italic.svg?v=1.0.0#LatoItalic") format("svg");
  font-weight: 400;
  font-style: italic; }
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: "Lato";
  src: 
    url('./fonts/Semibold/lato-semibold-webfont.woff2') format('woff2'),
    url('./fonts/Semibold/lato-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal; }
/* END Semibold */
/* BEGIN Bold */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Bold/Lato-Bold.eot?v=1.0.0");
  src: url("./fonts/Bold/Lato-Bold.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/Bold/Lato-Bold.woff2?v=1.0.0") format("woff2"), url("./fonts/Bold/Lato-Bold.woff?v=1.0.0") format("woff"), url("./fonts/Bold/Lato-Bold.ttf?v=1.0.0") format("truetype"), url("./fonts/Bold/Lato-Bold.svg?v=1.0.0#LatoBold") format("svg");
  font-weight: 700;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: "Lato";
  src: url("./fonts/BoldItalic/Lato-BoldItalic.eot?v=1.0.0");
  src: url("./fonts/BoldItalic/Lato-BoldItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/BoldItalic/Lato-BoldItalic.woff2?v=1.0.0") format("woff2"), url("./fonts/BoldItalic/Lato-BoldItalic.woff?v=1.0.0") format("woff"), url("./fonts/BoldItalic/Lato-BoldItalic.ttf?v=1.0.0") format("truetype"), url("./fonts/BoldItalic/Lato-BoldItalic.svg?v=1.0.0#LatoBoldItalic") format("svg");
  font-weight: 700;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Black/Lato-Black.eot?v=1.0.0");
  src: url("./fonts/Black/Lato-Black.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/Black/Lato-Black.woff2?v=1.0.0") format("woff2"), url("./fonts/Black/Lato-Black.woff?v=1.0.0") format("woff"), url("./fonts/Black/Lato-Black.ttf?v=1.0.0") format("truetype"), url("./fonts/Black/Lato-Black.svg?v=1.0.0#LatoBlack") format("svg");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: "Lato";
  src: url("./fonts/BlackItalic/Lato-BlackItalic.eot?v=1.0.0");
  src: url("./fonts/BlackItalic/Lato-BlackItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("./fonts/BlackItalic/Lato-BlackItalic.woff2?v=1.0.0") format("woff2"), url("./fonts/BlackItalic/Lato-BlackItalic.woff?v=1.0.0") format("woff"), url("./fonts/BlackItalic/Lato-BlackItalic.ttf?v=1.0.0") format("truetype"), url("./fonts/BlackItalic/Lato-BlackItalic.svg?v=1.0.0#LatoBlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */

/*# sourceMappingURL=lato.css.map */
