.panel{
	margin-top: 30px;
	.panel-nav{
		@include span-columns(3);

		@media (max-width: 991px){
			@include span-columns(12);
			margin-bottom: 20px;
		}

		.header-panel-nav{
			background-color: #eee;
		    display: table;
		    width: 100%;
		    padding: 10px;
			
			.pic-panel-nav{
				@include span-columns(3);
				@include border-radius(100%);
			}

			.user-name-panel-nav{
				@include span-columns(9);

				font-size: 1.6em;
				font-weight: $semibold;
				color: #202020;
			}
		}//header panel nav

		.itms-panel-nav{
			background-color: #fff;
			display: table;
			width: 100%;
			padding: 10px 0 10px 10px;

			.isActive{
				width: 100%;
				border-right: 4px solid $red;

				a{
					color: $red;

					&:hover{
						color: $red;
					}
				}
			}

			a{
				font-size: 2.0em;
				color: #202020;
				text-decoration: none;
				margin: 20px 0;
				display: block;
				@include transition();

				&:hover{
					color: $ldark;
				}

				&.logout{
					font-size: 18px;

					&:before{
						color: #ccc;
						font-family: FontAwesome;
						content: "\f08b";
						margin-right: 5px;
					}
				}//logout
			}
		}//itms-panel-nav
	}// panel nav

	.panel-data-list{
		@include span-columns(9);

		@media (max-width: 991px){
			@include span-columns(12);
		}
	}// panel data list
}// panel