.meus-enderecos-editar{
	
		h1{
			@media(max-width :991px){
				float: none;
				margin: auto;
				text-align: center;
			}
		}

		.cep-link{
			float: right;
			margin-top: 10px;
		}

		footer{
			a{
				margin-right: 15px;
			}
		}
}