//Container
.ctn{
	@include outer-container;
	padding-left: 30px;
	padding-right: 30px;
	
	@include media($mobile) { // As defined in _grid-settings.scss
		padding-left: 15px;
		padding-right: 15px;
	}
}

.row{
	@include row();
}

// Grid
&.third{
	@include span-columns(4);
	@include omega(3n);
}

&.half{
	@include span-columns(6);
	@include omega(2n);
}

&.full{
	@include span-columns(12);
	@include omega(1n);
}



&.half,
&.third{

	@media (max-width: 991px){

		@include span-columns(12);
		@include omega(1n);
	}
}