.main-footer{
	.main-footer-top{
		background-color: #222;
		padding: 20px 0;

		.nav-footer{
			@include span-columns(3);

			ul{
				li{
					margin-bottom: 10px;
					display: block;

					a{
						color: #fff;
						text-decoration: none;
						font-size: 1.6em;
					}
				}//li
			}//ul
		}//nav footer

		.service-customer{
			@include span-columns(5);

			p{
				font-size: 1.6em;
				color: #eee;
				line-height: 25px;

				br{
					content:"";
					display: block;
					margin-bottom: 10px;
				}
			}//p
		}//service customer

		.newsletter{
			@include span-columns(4);

			input,
			.btn-submit{
				display: inline-block;
				vertical-align: middle;
			}

			input{
				border:0;
				background-color: #fff;
				padding: 12px;
				font-size: 1.8em;
				width: calc(100% - 98px);

				//Iphone
				@media only screen 
				  and (min-device-width: 320px) 
				  and (max-device-width: 480px)
				  and (-webkit-min-device-pixel-ratio: 2) {
					width: calc(100% - 99px);
				}
				
				@include placeholder {
					color: #000;
				}	
			}//input

			.btn-submit{
				background-color: $red;
				color: #fff;
				font-size: 1.3em;
				font-weight: $semibold;
				margin-left: -3px;
				padding: 16.5px 6px;
				
				//Iphone
				@media only screen 
				  and (min-device-width: 320px) 
				  and (max-device-width: 480px)
				  and (-webkit-min-device-pixel-ratio: 2) {
					padding: 15px 10px;
				}

				@include transition();

				&:hover{
					background-color: $lred;
				}
			}//btn submit
			

		}//newsletter

		.nav-footer,
		.service-customer,
		.newsletter{
			@media (max-width: 991px){
				@include span-columns(12);
				text-align: center;

				.ttl-md-white{
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}//main footer top

	.main-footer-bottom{
		background-color: #333;
		padding: 20px 0;
		display: table;
		width: 100%;

		.copyright{
			float: left;
			font-size: 1.6em;
			font-weight: $semibold;
			color: #fff;
			line-height: 25px;
		}

		.signature{
			float: right;

			li{
				display: inline-block;

				&:first-of-type{
					margin-right: 5px;
				}
			}//li
		}//signature

		@media (max-width: 991px){
			.copyright,
			.signature{
				display: block;
				float: none;
				margin: 20px 0;
				text-align: center;
			}
		}
	}//main footer bottom
}