.cadastro{
	//titulos dos formulários

	.ttl{
		margin-bottom: 30px;
	}

	.ttl-number{
		padding: 7px;
		display: inline-block;
		background-color: $red;
		color: white;
		margin-right: 8px;
		margin-left: 0px;

	}

}