.produtos-detalhe{
	main{
		padding: 80px 0;
		background-color: #fff;

		.products-dtl-itm{
			background-color: #fff;


			.button-buy{
				display: inline;
				text-decoration: none;
				font-size: 1.6em;
				padding: 7px 10px;
			}//button-buy

			.btn-cashier{
				display: inline;
				font-size: 1.6em;
				margin-left: 9px;
				padding: 4px 8px;
				
			}//btn-cashier
		}//products-dtl-itm
	}//main

	.modal-indicate{
		.ttl-indicate{
			@media(max-width: 320px){
				font-size: 3.0em;
			}
		}//ttl-indicate
	}//modal-indicate

	.modal-doubt{
		.ttl-doubt{
			@media(max-width: 320px){
				font-size: 3.0em;
			}
		}//ttl-doubt
	}//modal-doubt
}

.product-info{
	.share{
		@media(max-width: 991px){
			text-align: center;
		}
		.ttl{
			@media(max-width: 320px){
				margin-bottom: 15px;
			}	
		}//ttl
	}//share
}//product-info


