.slider-products{
	position: relative;
	margin-bottom: -5px;
	display: table;

	@media (max-width: 480px){
		display: none !important;
	}

	.itm {
		display: none;
		@include opacity(0);
		@include transition();

		background-image: url("../img/loader.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 25px;

		&.isActive{
			@include opacity(1);
			display: table !important;
		}

		img{
			width:100%;
		}		
	}//itm

	// Owl Carousel Elements
	.owl-wrapper{
		display: table !important;

		.owl-item{
			display: table;
		}
	}

	// .owl-controls{
	// 	position: absolute;
	// 	top: 10%;
	// 	left:0;
	// 	right: 0;


	// 	.owl-prev,
	// 	.owl-next{
	// 		position: absolute;
	// 		font-size: 6.4em;
	// 		color: #fff;
	// 	}

	// 	.owl-prev{
	// 		left: 17%;
	// 	}

	// 	.owl-next{
	// 		right:17%;
	// 	}
	// }
}//slider products