.minha-senha{
	main{
		.my-password{
			width: 60%;
			margin: auto;

			@media (max-width: 991px){
				width: 100%;
			}

			.ttl-sm-black-2{
				&:before{
					content: "\f084";
					font-family: FontAwesome;
					color: $red;
					margin-right: 5px;
				}
			}

			.my-password-form{
				padding: 10px 20px;
			    background: #eee;
			}
		}//my-password
	}//main.
}