.meus-pedidos{
	main{

		.request-table{
			.ttl{
				font-size: 18px;
				padding-top: 0;
				padding-bottom: 0;
			}

			.lst-request{
				@include row();
				
				.itm-request-number{
					@include span-columns(3);
				}
				.itm-date{
					@include span-columns(2);
				}

				.itm-payment{
					@include span-columns(2);
				}

				.itm-status{
					@include span-columns(2);
				}

				.itm-status-payment{
					@include span-columns(2);
				}
				.itm-actions{
					@include span-columns(1);

					.btn-dropdown{
						&:before{
							content:"\f107";
							font-family: FontAwesome, Lato;
							font-size: 2.4em;
							color: #525252;
							cursor: pointer;
						}
						&.isActive{
							&:before{
								content: "\f106";
							}
						}
					}
				}


				.itm-request-number,
				.itm-date,
				.itm-payment,
				.itm-status,
				.itm-status-payment,
				.itm-actions{
					@media(max-width: 991px){	
						@include span-columns(12);
					}

				}
			}

			.request-header{
				@media (max-width: 991px){
					display: none;
				}
			}
			
			.request-content{
				border-bottom: 1px solid #eee;
				@media(max-width: 991px){
					margin-bottom: 10px;
				}
				
				.lst-request{
					margin-bottom: 40px;

					.itm-status{
						@media(max-width: 991px){	
							@include span-columns(12);
						}
					}

					.itm-actions{
						@media(max-width: 991px){	
							@include span-columns(12);
							text-align: center;

							.btn-dropdown{
								margin: 30px auto 0;
								&:before{
									color:$red;
									content:"\f107" + " Ver mais detalhes";
									font-size: 1.4em;
								}
								&.isActive{
									&:before{
										content: "\f106" + " Ocultar detalhes";
									}
								}
							}
						}
					}
				}

				[data-ttl-itm]{
					&:first-of-type{
						[data-ttl-itm]:before{
							margin-top: -10px;
						}
					}
				}
			}

			.request-detail{
				display:none;

				.lst-request-files{
					margin-bottom: 20px;

					.itm-request-files{

						&:before{
							content: "\f1c5";
							font-family: FontAwesome;
							margin-right: 5px;
							color: $red;
							float: left;
						}

						@media(max-width: 991px){
							font-size: 13px;
							margin: 2px 0;							
						}

						.link-request-file{
							word-wrap: break-word;
						    width: 90%;
						    display: block;
						    float: left;
						}

						.btn-approved,
						.btn-disapproved{
							display: inline-block;
							margin-top: 5px;

							&:before{
								font-family: FontAwesome;
								margin-right: 5px;
							}
						}

						.btn-approved{
							&:before{
								content: "\f00c";
							}
						}

						.btn-disapproved{
							&:before{
								content: "\f00d";
							}
						}
					}
				}


				.lst-request-detail{
					@include row();

					.itm-request-detail{
						@include span-columns(3);
						@include omega(4n);

						@media(max-width: 991px){
							font-size: 13px;
							margin: 2px 0;

							@include span-columns(12);
							@include omega(1n);
							
						}

						&.success,
						&.waiting{
							&:before{
								font-family: FontAwesome;
								font-weight: normal;
								margin-right: 5px;
							}
						}

						&.success{
							font-weight: $semibold;
							&:before{
								color: $green;
								content: "\f05d";
							}
						}

						&.waiting{
							color: #bbb;
							font-weight: $regular;
							&:before{
								// color: $red;
								content: "\f017";
							}
						}
					}
				}
			}

			.lst-request-resume{
				@include row();
				.itm-request-resume{
					@include span-columns(4);
					@include omega(3n);

					@media(max-width: 991px){

						@include span-columns(12);
						@include omega(1n);
					}

					margin-bottom: 10px;

					b{
						display: block;
					}
				}

			}


			//Address and payment
			.lst-address-payment{
				@include row();

				.itm-address-payment{
					@include span-columns(6);
				}
			}

			.address-payment-header{
				@media(max-width: 991px){
					display:none;
				}
			}
			
			.address-payment-content{
				@include row();

				.delivery-address,
				.payment-form{
					@include span-columns(6);

					@media(max-width: 991px){
						@include span-columns(12);
					}
				}

				.payment-form{
					.payment-form-detail{
						margin: 5px 0;

						@include row();
						.pic{
							@include span-columns(4);

							//mobile
							@media(max-width: 991px){
								@include span-columns(2);
							}
						}//pic	
						.txt{
							a{
								text-decoration: none;
								color: #0676B7;
							}

								@include span-columns(8);


							@media(max-width: 991px){
								@include span-columns(10);
							}
						}
					}
				}

				[data-ttl-itm]{
					&:first-of-type{
						[data-ttl-itm]:before{
							margin-top: -10px;
						}
					}
				}

			}

			.lst-order-dtls{
				@include row();
			    padding: 10px 20px;
			    background-color: #fff;
			    @include box-shadow(0, 0, 10px, rgba(0,0,0, 0.035), "");
			    margin-bottom: 20px;

				.itm-order{
					margin: 5px 0;

					b{
						display: block;
					}

					@include span-columns(3);
					@include omega(4n);

					@media(max-width: 991px){
						margin: 0;

						@include span-columns(12);
					}

					.btn-art-attachment{
						margin-bottom: 20px;
					}	
				}
			}

			// Ttls responsivos quando dois itms dentro da mesma table


			.btn-close-detail {
				width: 100%;

				&:before{
					content:"\f106";
					font-family: FontAwesome;
					margin: 0 10px;
				}

				@media(max-width: 991px){
					font-size: 18px;
				}

			}
		}
	
	}
}