.checkout-carrinho{
	main{
		.btn-continue{
			color: #000;
			text-decoration: none;
			margin: 35px 40px;
		}//btn-continue

		.cart-product-freight{
			.btn-calculate{
				padding-top: 19px;
				padding-bottom: 20px;
				font-size: 1.7em; 
			}//btn-calculate
		}//cart-product-freight
	}//main
}