//***********************************
// Cart product list
//***********************************
.list-cart-product{
	margin-bottom: 40px;
	
	//Item
	.itm-cart-product{
		background-color: #fff;
		padding: 10px 15px;
		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
		width: 100%;
		position: relative;

		@include row();
		@include box-shadow(0, 0, 10px, rgba(0,0,0, 0.035), "");

		.ttl{
			font-size: 1.8em;
			color: #545454;
			font-weight: $bold;
		}//ttl
	}//itm-cart-products

	//List items grid

	//Product
	.product{
		@include span-columns(6);
		@include omega(2n);

		@media (max-width: 600px){
			@include span-columns(12);
		}//@media

		.product-pic{
			@include span-columns(3);

			img{
				width: 100%;
			}
		}//product-pic

		.product-name{
			@include span-columns(9);

			a{
				font-weight: $bold;
				font-size: 2.4em;
				text-decoration: none;
				color: $dark;
				@include transition();

				&:hover{
					color:$ldark;
				}

				@media (max-width: 600px){
					font-size: 1.6em;
				}//@media

			}//a
		}//product-name	

	}//product

	.amount{
		@include span-columns(6);
		@include omega(2n);

		text-align: right;

		@media (max-width: 600px){
			@include span-columns(12);
		}//@media

		.input-amount{
			margin-bottom: 20px;
		}//input-amount

		.value{
			.price{
				font-size: 1.6em;
				@media (max-width: 600px){
					font-size: 1.4em;
				}
				font-weight: $bold;
				color: $red;
				margin-bottom: 10px;
			}//price

			.value-unit{
				color: #aaa;
				font-size: 1.4em;
				@media (max-width: 600px){
					font-size: 1.2em;
				}//@media
			}//value-unit
		}//value

		.free-shipping{
			display: table;
			float: right;
			background-color: #009D2A;
			padding: 5px;
			color: #fff;
			font-weight: $bold;
			font-size: 1.4em;
			margin-top: 10px;

			&:before{
				margin-right: 5px;
				font-family: FontAwesome;
				content: "\f0d1";
			}
		}//free-shipping

		.amount-max,
		.amount-min{
			text-align: right;
			margin-bottom: 10px;
			font-size: 1.2em;
		}
	}//amount

	.actions{
		position: absolute;
		top: 0;
		right: -30px;

		@media (max-width: 320px){
		    top: 5px;
		    right: 0;
		}

		.btn-remove{
			&:before{
				font-family: FontAwesome;
				content:  "\f00d";
				font-size: 14px;
				padding: 2px 4px;

				@include transition();
			}


			&:hover{
				&:before{
					color: #fff;
					background-color: $red;

				}
			}

		}//btn-close
	}//actions

	// Carrinho vazio
	.cart-empty{
		background-color: #fff;
		padding: 10px 15px;
		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
		width: 100%;
		position: relative;
		@include box-shadow(0, 0, 10px, rgba(0,0,0, 0.035), "");
		
		font-size: 1.4em;
		text-align: left;
		margin-top: 10px;
		line-height: 30px;

		.btn-buy{
			font-size: 14px;
			display: inline-block;
			line-height: 15px;
			cursor: pointer;
		}
	}
}//list-cart-product

//********************************************************
// Pairment Cart product freight and Cart product value
//********************************************************
.cart-product-freight,
.cart-product-value{
	@include span-columns(6);

	@media (max-width: 991px){
		@include span-columns(12);
	}
}

//***********************************
// Cart product freight
//***********************************
.cart-product-freight{
	@media (max-width: 991px){
		margin-bottom: 10px;
		text-align: center;
	}//cart-product-freight

	.cart-product-freight-form{
		fieldset{
			margin-top: 0;
		}
	}//cart-product-freight-form

	.btn-calculate{
		margin: 0;
		padding-top: 17px;
		padding-bottom: 17px;
		font-size: 1.6em;
	}//btn-calculate

	.result{
		background-color: #fff;
		display: inline-block;
		padding: 10px;
		color: #444;

		.result-address{
			font-size: 1.5em;
			line-height: 20px;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #eee;
		}

		.info-value{
			font-size: 1.4em;
			margin-bottom: 20px;
			display: inline-block;
			width: 100%;
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;
			margin-bottom: 10px;

			.days,
			.price{
				font-size: 12px;
				color: #aaa;
				margin: 10px 0;
			}
		}//info-value

		p{
			font-size: 1.4em;
			line-height: 20px;
		}//p
	}//result
}//cart product-freight


//***********************************
// Cart product value
//***********************************

.cart-product-value{
	text-align: right;
	@media (max-width: 991px){
		text-align: center;
	}

	.value-subtotal,
	.value-freight,
	.value-total,
	.action{
		display: table;
		float: right;
		clear: both;

		&:before,
		&:after{
			display: block;
			content: "";
			clear: both;
		}

		@media (max-width: 991px){
			display: block;
			float: none;
			clear: none;
		}
	}//action

	.value-subtotal,
	.value-freight{
		font-size: 1.6em;
		font-weight: $semibold;
		margin-bottom: 10px;
	}

	.value-subtotal{
		color: $red;
	}

	.value-freight{
		color: #aaa;
		font-weight: $regular;
	}

	.value-total{
		padding-top: 10px;
		border-top: 1px solid #eee;
		margin-bottom: 30px;
		font-size: 2.4em;
		font-weight: $bold;
		color: $red;
	}
	.btn-continue{
		font-size: 1.8em;
		margin-right: 5px;
		color: $blue;
		@include transition();
		&:hover{
			color: $lblue;
		}

		@media (max-width: 991px){
			text-align: center;
			display: block;
			margin-bottom: 20px;
		}
	}//btn-continue

	.btn-finish{
		@media (max-width: 991px){
			display: block;
		}
	}//btn-finish
}//cart-product-value